body {
    --red-color:#e65f78;
}
/* Pour alterner les couleurs gris noir dans le fond d'écran 1 section sur 2 seront grises */
.mainContentWebsite section:nth-child(2n){
    background-color: #2e3135;
}
/* fin alternace couleur */

#firstRowHomepage {
    min-height: 100vh;
    background-image: url(/image/fondlego.jpg);
    background-position: center;    
}

#textPresentation {
    background-color: #000000bb;
    margin-top: -100px;
}

.firstTitle {
    font-size: 22px;
}

.bigText {
    font-size: 50px;
    font-weight: bold;
}

.firstDescription {
    font-size: 16px;
    max-width: 550px;
    margin: 15px auto;
}

#mouse {
    font-size: 40px;
    position: absolute;
    text-align: center;
    bottom: 40px;
    rotate: 180deg; 
}

#mouse i {
    display: block;
    height: 125px;
    animation:  bounce 2s ease infinite ;
} 

#mouse i:hover{
    cursor: pointer;
}

/* animation de la souris */
    @keyframes bounce {
        40% { transform:translateY(0%); }
        80% { transform:translateY(20%); }
        85% { transform:translateY(0%); }
        90% { transform:translateY(10%); }
        95% { transform:translateY(0%); }
        98% { transform:translateY(4%); } 
        100% { transform:translateY(0%); }
    }

.aboutSpan{
    color: var(--red-color);
}


.listIcon li a{
    display: inline-block;
    width: 42px;
    height: 42px;
    font-size: 20px;
    text-align: center;
    border: 2px solid ;
    border-radius: 50%;
    line-height: 35px;
    color:#596064;
}

.listIcon li a:hover{
    color: var(--red-color);
    transition: 0.35s;
}

.card-img-top {
    width: 100px;
    height: 100px;
    margin: auto;
}



a.nav-link.active {
    color : var(--red-color) !important;
}

#navbarSite {
    transition: 0.5s;
}


.btn-custom {
    background-color: var(--red-color);
    color: white;
}



.img-thumbnail {
    background-color: #596064;
    border: #6a6c6e;
}

.temoignage-text{
    color:#a0a0ac;
}

.testimonialIcon {
    font-size: 30px;
    color: var(--red-color);
}

.carousel-indicators [data-bs-target]{
    background-color: var(--red-color);
}

#scrollTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--red-color);
    opacity: 0.8;
    visibility: hidden;
    transition: 0.5s;
}

#scrollTopButton.show{
    visibility: visible;
}